html{
    font-size: 62.5%;
}

/*Grid-säännöt*/

.gallery{
    display: grid;
    grid-template-rows: 3fr 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-gap: 0.5rem;
    padding: 1rem;
    border: solid 1rem darkgray;
}
.gallery-img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
}

.yksi{
    grid-row: 1/3;
    grid-column: 1/3;
}

.kaksi{
    grid-row: 1/2;
    grid-column: 3/4;
}

.kolme{
    grid-row: 1/5;
    grid-column: 4/4;
}


.neljä{
    grid-row: 2/3;
    grid-column: 3/4;
}

.viisi{
    grid-row: 3/4;
    grid-column: 1/2;
   
}

.kuusi{
    grid-row: 3/6;
    grid-column: 2/4;
}

.seitsemän{
    grid-row: 4/5;
    grid-column: 1/2;
}

.kahdeksan{
    grid-row: 5/6;
    grid-column: 1/2;
}

.yhdeksän{
    grid-row: 5/6;
    grid-column: 4/5;
}